@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap');

:root {
    --misty-rose: #F3DAD8;
    --tea-rose: #F4C3C2;
    --orchid-pink: #F1B5CB;
    --dark-purple: #7B506F;
}

* {
    font-family: "Josefin Sans", sans-serif;
}

.navbar .navbar-brand {
    font-family: "Lilita One", sans-serif;
    color: var(--dark-purple);
    font-size: 32px;
}

.first-col, .third-col {
    background-color: var(--misty-rose);
}

.first-col {
    border-bottom: 1px solid var(--dark-purple);
}

.small-text, p, .lesson-content {
    font-size: 18px;
}

.large-text, h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

.lesson-content {
    line-height: 40px;
}

.dropdown-menu {
    min-width: 120px;
}

.footer {
    gap: 5em;
}

@media (max-width: 768px) {
    .table-of-contents {
        border-bottom: 1px solid var(--dark-purple);
    }
}

@media (max-width: 576px) {
    .footer {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}

.nav-link, .navbar-brand {
    color: var(--dark-purple) !important;
}

.nav-link:hover, .dropdown-item:hover, .navbar-brand:hover {
    color: var(--orchid-pink) !important;
}

.btn {
    border-color: var(--dark-purple);
    background-color: white;
    color: var(--dark-purple);
}

.btn:hover {
    border-color: var(--dark-purple);
    background-color: var(--dark-purple);
    color: white;
}

.third-col {
    border-top: 1px solid var(--dark-purple);
    min-height: 21vh;
}

@media (min-width: 768px) {
    .table-of-contents {
        border-right: 1px solid var(--dark-purple);
    }
}

.table-of-contents span, .lesson-content h1 {
    font-weight: bold;
}

mark {
    background-color: var(--orchid-pink);
}

@media (max-width: 576px) {
    .lesson-img {
        width: 350px;
    }

    .sub-lesson {
        margin-left: 40px;
    }
}

@media (min-width: 576px) {
    .lesson-img {
        width: 500px;
    }

    .sub-lesson {
        margin-left: 70px;
    }
}

.lesson-img {
    margin-bottom: 15px;
}

.decision-tree-img {
    margin-top: 15px;
}

.final-answer {
    color: var(--dark-purple);
}